body{
  font-size:1.5em;
  background-color:saddlebrown;
  color:white;
  margin:0;
  padding:0;
}
.navbar-expand-md .navbar-nav .nav-link{
  font-size:0.8em;
  padding-top:10px;
}
.background{
  position: absolute;
  width:100%;
  height: 100%;
  z-index: -1;
  margin-top:-30px;
}
.background img{
  width:100%;
  vertical-align: top;
  margin-top:-30px;
}
.background:after {
  content: '\A';
  position: absolute;
  width: 100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.8);
  opacity: 1;
}
.content{
  text-align: center;
  margin-top:180px;
  margin-left:0px;
  width:500px;
}
.homepage-text{
  color:white;
  margin-left:10px;
}
.homepage-button a{
  font-size:1.5em;
  border-radius:20px;
  background:none;
  border:5px solid white;
  color:white;
  width:500px;
}
.homepage-button a:hover{
  color:black;
  background-color:white;
  transition: 1s;
}
.doneer-buttons{
  font-size:1em;
  border-radius:20px;
  background:none;
  border:3px solid black;
  width:400px;
  color:white;
  transition: none;
}
.btn:hover{
  color:white;
}
.buy-ticket input[type=email]{
  width:300px;
  margin-left:40%;
}
.alert{
  width:500px;
  margin-left:35%;
}
iframe{
  width:1500px;
  height:450px;
}
@media (max-width:420px){
  iframe{
    width:300px;
    height:200px;
  }
  .doneer-buttons{
    width:300px;
  }
  .background img{
    display: none;
  }
  .background{
    background-color:saddlebrown;
  }
  .content{
    width:300px;
    margin-left:5% !important;
    margin-top:50px;
  }
  .homepage-button a{
    width:300px;
  }
}
@media (min-width:420px) and (max-width:850px){
    .background{
      height:485px;
    }
    .background img{
      height:520px;
    }
  .content{
    margin-top:0px;
  }
}
@media (min-width:800px) and (max-height:400px){
  .content{
    margin-left:-100px;
  }
}
@media (min-width:768px) and (max-width:1024px){
  .content{
    margin-top:150px;
    margin-left:-40px;
  }
  .background img{
    height: 1000px;
  }
  .background{
    height: 975px;
  }
}
@media (min-height:768px) and (max-height:1024px){
  .content{
    margin-left:-95px;
  }
}
@media (max-height:768px) and (min-width:768px) and (max-width:1024px){
  .content{
    margin-left:-85px;
  }
}