body {
  font-size: 1.5em;
  background-color: saddlebrown;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.navbar-expand-md .navbar-nav .nav-link {
  font-size: 0.8em;
  padding-top: 10px;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  margin-top: -30px;
}

.background img {
  width: 100%;
  vertical-align: top;
  margin-top: -30px;
}

.background:after {
  content: "\A";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

.homepage-button {
  font-size: 1.5em;
  border-radius: 20px;
  background: none;
  border: 5px solid white;
  color: white;
  width: 80%;
}

.homepage-button:hover {
  color: black;
  background-color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.doneer-buttons {
  font-size: 1em;
  border-radius: 20px;
  background: none;
  border: 3px solid black;
  width: 400px;
  color: white;
  -webkit-transition: none;
  transition: none;
}

.btn:hover {
  color: white;
}

.buy-ticket input[type=email] {
  width: 300px;
  margin-left: 40%;
}

.alert {
  width: 500px;
  margin-left: 35%;
}

iframe {
  width: 1500px;
  height: 450px;
}

@media (max-width: 420px) {
  .background img {
    display: none;
  }

  .background {
    background-color: saddlebrown;
  }
}

@media (max-width: 812px) {
  body {
    font-size: 1.2em;
  }
}

@media (min-width: 1000px) {
  .homepageview {
    margin-top: 100px;
  }
}

